<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="right_aside">
        <aside>
            <div class="panel panel-default hidden-xs">
                <div class="panel-heading">简介</div>
                <div class="panel-body">
                    <p>这是一个基本的面板内容。这是一个基本的面板内容。
                        这是一个基本的面板内容。这是一个基本的面板内容。
                        这是一个基本的面板内容。这是一个基本的面板内容。
                        这是一个基本的面板内容。这是一个基本的面板内容。
                    </p>
                </div>
            </div>
        </aside>
        <aside>
                <div class="panel panel-default hidden-xs">
                    <div class="panel-heading">标签</div>
                    <div class="panel-body">
                        <p>这是一个基本的面板内容。这是一个基本的面板内容。
                            这是一个基本的面板内容。这是一个基本的面板内容。
                            这是一个基本的面板内容。这是一个基本的面板内容。
                            这是一个基本的面板内容。这是一个基本的面板内容。
                        </p>
                    </div>
                </div>
        </aside>
        <aside>
            <div class="panel panel-default hidden-xs">
                <div class="panel-heading">最新</div>
                <div class="panel-body">
                    <p>这是一个基本的面板内容。这是一个基本的面板内容。
                        这是一个基本的面板内容。这是一个基本的面板内容。
                        这是一个基本的面板内容。这是一个基本的面板内容。
                        这是一个基本的面板内容。这是一个基本的面板内容。
                    </p>
                </div>
            </div>
        </aside>
    </div>
</body>

</html>